GROQ_API_KEY=key
GROQ_API_KEY2=key2
GOOGLE_API_KEY=keyy
GEMINI_API_KEY=keyy
HF_API_TOKEN=keyy
HF_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
QDRANT_URL=http://qdrant:6333
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=api
LANGSMITH_PROJECT="rag-tracing"
CO_API_KEY=keyy